/*-------------------------------------------------------------------------*/
/* Armory
/*-------------------------------------------------------------------------*/
.box.type-armory {}

/* Armory: Subbody
/*---------------------------------------------------------------*/
.box.type-armory .page-subbody {
	padding: 2rem !important;
}

/* Armory: Fields
/*---------------------------------------------------------------*/
.box.type-armory .input-group {
	gap: var(--margin-primary);

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.box.type-armory .input-group > * {
	width: 100%;
	margin: 0 !important;
}

/* Armory: Table
/*---------------------------------------------------------------*/
.box.type-armory .dataTables_wrapper {}

.box.type-armory .dataTables_wrapper .row + .row + .row {
	margin: var(--margin-primary) 0 0 0;

	text-align: center;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.box.type-armory .dataTables_wrapper .row + .row + .row > div {
	padding-left: 0;
	padding-right: 0;
}

.box.type-armory .dataTables_wrapper .row + .row + .row .dataTables_info {
	padding: 0;
}

.box.type-armory .dataTables_wrapper .row + .row + .row .dataTables_paginate {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.box.type-armory .dataTables_wrapper .row + .row + .row .dataTables_paginate .pagination {
	margin: 0 auto;
}

/* Armory: Responsive
/*---------------------------------------------------------------*/
@media screen and (min-width: 768px) { /* Desktop */
	.box.type-armory {}

	/* Armory: Fields
	/*---------------------------------------------------------------*/
	.box.type-armory .input-group {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.box.type-armory .input-group > * {
		width: -webkit-calc(100% / 3);
		width: -moz-calc(100% / 3);
		width: calc(100% / 3);
	}

	.box.type-armory .input-group button {
		width: auto;
	}

	/* Armory: Table
	/*---------------------------------------------------------------*/
	.box.type-armory .dataTables_wrapper .row + .row + .row {
		text-align: left;
	}

	.box.type-armory .dataTables_wrapper .row + .row + .row .dataTables_paginate .pagination {
		margin-left: auto;
		margin-right: 0;
	}
}