/*-------------------------------------------------------------------------*/
/* [Sidebox] Status (ajax)
/*-------------------------------------------------------------------------*/
[__realmStatusAjax__] {
	width: 100%;
	height: auto;

	padding: 34px 0;
}

[__realmStatusAjax__] img {
	margin: 0 auto;
	display: block;
	vertical-align: middle;
}

/*-------------------------------------------------------------------------*/
/* [Sidebox] Status (realm)
/*-------------------------------------------------------------------------*/
.realm.type-status {
	width: 100%;
	height: auto;

	gap: var(--margin-primary);

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.realm.type-status .realm-name {
	width: 100%;
	height: auto;

	color: #459afd;

	display: block;

	font-size: 1.875rem;
	font-family: var(--font-family-secondary);

	line-height: 100%;

	text-align: center;
	text-transform: uppercase;
}

.realm.type-status .realm-online {
	width: 100%;
	height: auto;

	color: #90c3ff;

	display: block;

	font-size: 1.875rem;
	font-family: var(--font-family-secondary);

	line-height: 100%;

	text-align: center;
	text-transform: uppercase;
}

/*-------------------------------------------------------------------------*/
/* [Sidebox] Status (toggler)
/*-------------------------------------------------------------------------*/
.realm.type-status + .toggler-group {
	left: 0;
	right: 0;

	position: relative;

	text-align: center;

	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}