#fusion_tooltip, .fusion_tooltip {
    background-color: #0f0f0f !important;
    border: 1px solid #1e1e1e !important;
    -webkit-box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
    color: #fff;
    position: absolute;
    z-index: 9999999;
    padding:1rem;
}
#fusion_tooltip .tooltip-container {
    max-width:350px;
    min-width: 200px;
}
#fusion_tooltip pp, .fusion_tooltip pp {
    position: absolute;
    left: -65px !important;
    top: -18px;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
    background: 4px 4px no-repeat;
    background-color: #0f0f0f !important;
}
#fusion_tooltip pp div, .fusion_tooltip pp div {
    height: 42px !important;
    width: 42px !important;
    border: 1px solid #1e1e1e !important;
}
#fusion_tooltip table tbody tr td table tbody tr td:first-child {
    padding-right: 30px;
}
.character-tooltip .icon-frame.frame-56 {
    position: absolute;
    left: -88px;
    top: -17px;
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    background-color: #000;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #434445;
    border-bottom-color: #2f3032;
    border-top-color: #b1b2b4;
}
.character-tooltip .icon-frame.frame-56 img {
    display: block;
    vertical-align: bottom;
}
.character-tooltip .character-name {
    font-size: 16px;
}
.color-tooltip-2, .color-tooltip-horde {
    color: #b30000;
}
.color-tooltip-1, .color-tooltip-alliance {
    color: #247FAA
}
