/*-------------------------------------------------------------------------*/
/* Item
/*-------------------------------------------------------------------------*/
/*.page-item {}*/

/* Item: Page head
/*---------------------------------------------------------------*/
.page-item .page-head {
	text-align: center;
}