# Disable directory listing
Options -Indexes
IndexIgnore *

# Deny access to tpl and json files
<Files ~ "\.(tpl|json)$">
    Deny from all
</Files>

<IfModule mod_deflate.c>
    # Remove browser bugs (only needed for really old browsers)
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    Header append Vary User-Agent
</IfModule>