/*-------------------------------------------------------------------------*/
/* Auth
/*-------------------------------------------------------------------------*/
/*.page-auth {}*/

/* Auth: Page head
/*---------------------------------------------------------------*/
.page-auth .page-head {
	text-align: center;
}

/* Auth: Form
/*---------------------------------------------------------------*/
/*.page-auth form {}*/

/* Auth: Form: Input group
/*-----------------------------------------------------*/
.page-auth form .input-group {
	-webkit-border-radius: var(--field-border-radius);
	border-radius: var(--field-border-radius);
}

/* Input group (field icon) */
.page-auth form .input-group .input-group-text {
	width: 45px !important;
	padding: 0;

	-webkit-border-radius: var(--field-border-radius) 0 0 var(--field-border-radius) !important;
	border-radius: var(--field-border-radius) 0 0 var(--field-border-radius) !important;
}

/* Input group (field input) */
.page-auth form .input-group .form-control {
	-webkit-border-top-left-radius: 0 !important;
	-moz-border-top-left-radius: 0 !important;
	border-top-left-radius: 0 !important;

	-webkit-border-bottom-left-radius: 0 !important;
	-moz-border-bottom-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

/* Input group (field captcha image) */
.page-auth form .input-group #captcha[for='floatingCaptcha'] {
	width: 150px !important;
	height: 100% !important;

	top: 0;
	right: 0;

	-webkit-filter: grayscale(0.8);
	filter: grayscale(0.8);

	padding: 0;
	z-index: 9;
	opacity: 0.5;

	overflow: hidden;
	position: absolute;

	-webkit-border-radius: var(--field-border-radius);
	border-radius: var(--field-border-radius);
}

.page-auth form .input-group #captcha[for='floatingCaptcha'] img {
	width: 100%;
	height: 100%;

	-webkit-border-radius: var(--field-border-radius);
	border-radius: var(--field-border-radius);
}

/* Input group (field captcha input) */
.page-auth form .input-group .captcha-input {
	height: auto;
	min-height: auto;
	line-height: 1.5;
}

.page-auth form .input-group .captcha-input + label {
	display: none;
}