/*-------------------------------------------------------------------------*/
/* Auth
/*-------------------------------------------------------------------------*/
/*.box.type-auth {}*/

.box.type-auth .form-switch {
	padding-left: 0;
}