/*-------------------------------------------------------------------------*/
/* Errors
/*-------------------------------------------------------------------------*/
.page-errors {}

/* Errors: Page head
/*---------------------------------------------------------------*/
.page-errors .page-head {
	text-align: center;
}